@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff8d8;
  line-height: 0;
}

a {
  text-decoration: none;
  color: #ffbb5a;
  margin-left: 5px;
}

a:active,
a:hover {
  text-decoration: underline;
  color: #fca730;
}

p {
  margin-bottom: 0;
}

.body-default {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}  

#error-login {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: normal;
  max-width: 325px;
  font-size: 14px;
  text-align: center;
  color: #f0504a;
  padding-top: 5px;
}

.text {
  color: #584944;
  font-size: 18px;
}

.inputs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

img {
  margin: 50px 50px 25px;
}

img.logo {
  margin: 0;
}


form {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  color: #584944;
}

label {
  display: flex;
  flex-direction: column;
}

.form-button {
  width: 325px;
  height: 45px;
  left: 222px;
  top: 625px;
  margin: 25px 0px;
  background: #ffbb5a;
  border-color: transparent;
  border-radius: 12px;
  outline: none;
  font-size: 18px;
  color: #fff8d8;
}

.form-button:active,
.form-button:hover {
  background-color: #ffe1ac;
  color: #584944;
}

.form-input {
  min-width: 260px;
  border: none;
  border-bottom: 2px solid #ffbb5a;
  background-color: transparent;
  outline: none;
  margin: 12px 0px 20px;
  padding: 5px 8px 5px;
  color: #584944;
}

.form-input:focus {
  background-color: #ffe1ac;
}

.form-input::placeholder {
  color: #9b8d89;
}

.message-text {
  text-align: center;
}

.container-logo-btn {
  display: flex;
}

.back-button {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 21px;
  font-weight: 500;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  font-size: 14px;
  width: 100%;
  position: fixed;
  background-color: #ffe1ac;
  color: #584944;
  bottom: 0;
  left: 0;
}

footer a {
  color: #584944;
  font-weight: bold;
  padding: 10px 0px;
}

/* select form */

.select-style select {
  display: none;
}

.select-style {
  background-color: #fff8d8;
  border: none;
  border-bottom: 2px solid #ffbb5a;
  outline: transparent;
  line-height: 13px;
  padding: 10px 0px;
  color: gray;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.select-style {
  margin-top: 6px;
  background-image: linear-gradient(45deg, transparent 50%, #ffbb5a 50%),
    linear-gradient(135deg, #ffbb5a 50%, transparent 50%),
    radial-gradient(#ffe1ac 70%, transparent 72%);
  background-position: calc(100% - 17px) calc(1em - 4px),
  calc(100% - 12px) calc(1em - 4px), calc(100% - 0.2em) 0.1em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

select.select-style:focus {
  background-image: linear-gradient(45deg, #fff8d8 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #fff8d8 50%),
    radial-gradient(#ffbb5a 70%, transparent 72%);
  background-position: calc(100% - 12px), calc(100% - 17px),
  calc(100% - 0.2em) 0.3em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: #ffbb5a;
  outline: transparent;
}

select.select-style:focus-within {
  color: #fca730;
  border: 0;
  border-bottom: 2px solid #ffbb5a;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  background-color: #ffe1ac;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.orders-button span {
  pointer-events: none;
  color: #ffe1ac;
  padding-right: 5px;
}

.orders-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffbb5a;
  border-radius: 10px;
  padding: 8px;
  margin: 4px 0px;
  font-size: 15px;
  font-weight: bold;
  color: #ffe1ac;
}

.orders-button:active,
.orders-button:hover {
  border: 0;
  outline: none;
  background-color: #fff8d8;
  color: #584944;
}

.orders-button:active span,
.orders-button:hover span{
  color: #584944;
}

.user-info {
  font-size: 18px;
  margin-bottom: 20px;
  color: #584944;
}

.team-work {
  font-weight: bold;
  color: #584944;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-menu {
  display: flex;
  flex-direction: column;
}

.menu-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  border-bottom: 1px solid #d1beb8;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  color: #584944;
  padding: 5px 20px;
}

.last-menu-item {
  border: 0;
}

.menu-button:active {
  color: #ffbb5a;
  font-weight: 700;
}

.card-header {
  background: #ffe1ac;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #584944;
  text-align: left;
  min-width: 325px;
  padding: 16px;
}

.card-header:active {
  background: #ffbb5a;
  color: #fff8d8;
}

.card-body {
  background-color: #fff8d8;
  padding: 0;
}

.menu-details {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.burger-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.burger-items {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  line-height: 1.3;
  color: #584944;
  border-bottom: 1px solid #ffe1ac;
  font-size: 14px;
}

.burger-items label:active {
  font-weight: 700;
  color: #fca730;
}

.add-items {
  display: flex;
}

.extra-ingredient {
  display: flex;
  padding-right: 5px;
}

input[type='radio'] {
  display: none;
}

input,
textarea {
  border: 0;
  margin: 0;
  outline: none;
}

input[type='button'] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.send-button {
  min-width: 150px;
  width: 325px;
}

.send-button, .form-order {
  height: 45px;
  background: #f0504a;
  border: transparent;
  outline: none;
  border-radius: 10px;
  font-weight: 500;
  align-items: center;
  text-align: center;
  color: #fff8d8;
}

.cancel-button {
  min-width: 125px;
  max-width: 310px;
  height: 45px;
  margin-right: 10px;
  outline: none;
  border: solid 3px #f0504a;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 500;
  align-items: center;
  text-align: center;
  color: #f0504a;
}

.form-order {
  min-width: 125px;
  max-width: 310px;
}

.cancel-button:active, .cancel-button:hover {
  background: #f0504a;
  color: #fff8d8;
}

.send-button:active, .send-button:hover, 
.form-order:active, .form-order:hover {
  border: solid 4px #f0504a;
  background-color: transparent;
  color: #f0504a;
}

.order-summary {
  min-height: 405px;
  margin: 20px 0px 40px;
  padding: 25px;
  background: #FEF4C6;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 4px hsl(0deg 0% 0% / 10%);
}

.section-order-summary {
  display: flex;
  justify-content: space-between;
}
.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  margin-bottom: 40px;
  align-items: baseline;
}

.card-template {
  margin: 1rem;
  width: 320px;
  left: 44px;
  top: 579px;
  background: #ffe1ac;
  border-radius: 10px;
  box-shadow: 2px 5px 5px hsl(0deg 0% 0% / 30%);
}

.card-container-text {
  padding: 20px;
  line-height: 20px;
}

.card-table-info {
  display: flex;
  justify-content: space-between;
}

.title-card {
  margin: 0%;
  font-weight: 500;
  font-size: 16px;
  color: #584944;
}

.title-number-card {
  font-weight: 500;
  font-size: 24px;
  color: #584944;
}

.text-card {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
}

tr.title-card {
  min-width: 250px;
  max-height: 20px;
}

h4.title-card {
  margin-bottom: 10px;
}

.complement-text-card{
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
}

.card-template hr {
  width: 100%;
  left: 59px;
  top: 294px;
  border-top: 1px solid #ffbb5a;
}

.btn-done {
  width: 320px;
  height: 43px;
  left: 44px;
  top: 494px;
  background: #f0504a;
  border: 2px solid #f0504a;
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
  font-weight: 700;
  color: #ffe1ac;
  letter-spacing: 3px;
}

.btn-doing {
  width: 320px;
  height: 43px;
  left: 44px;
  top: 494px;
  background: #bfc57b;
  border: 2px solid #bfc57b;
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
  font-weight: 700;
  color: #584944;
  letter-spacing: 3px;
}

.menu-info {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin-right: 30px;
}

.client-info, .bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.products-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: start;
  flex-wrap: wrap;
  max-width: 570px;
}

.item-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 325px;
  margin: 0px 0px 15px;
}

.order-button-section {
  display: flex;
  flex-direction: space-between;
  max-width: 300px;
}

.section-details {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 10px;
}

.input-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70px;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #f0504a;
}

.count-button {
  background-color: transparent;
  border: none;
  font-weight: 500;
  align-items: center;
  color: #584944;
  background-color: #ffe1ac00;
  width:25px;
  height: 25px;
  border-radius: 25px;
}

.count-button:active, .count-button:focus {
  background-color: #ffe1ac;
  width:25px;
  height: 25px;
  border-radius: 25px;
}

.product {
  flex: 1;
  max-width: 175px;
  margin: 0px 10px;
  font-size: 16px;
  color: #584944;
}

.total-price {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-right: 30px;
}

.total-value {
  font-weight: 700;
}

.delete-item {
  background-color: transparent;
  border: none;
  color: #f19390;
}

.delete-item:active, .delete-item:hover {
  color: #f0504a;
}

.list-items {
  margin-bottom: 5px;
  min-width: 260px;
}

.burger-info {
  margin: 0 0 15px 35px;
  font-size: 14px;
  font-weight: normal;
}

.menu-description {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* toast  */

.col-6 {
  position: fixed;
  bottom: 75px;
  left: 25px;
}

.close {
    line-height: 0;
    color: #584944;
    text-shadow: 0;
}

.mr-auto {
  color: #584944;
}

.toast-body, .toast-header {
  color: #584944;
  padding: 15px;
  background-color: white;
}

.toast-body {
  padding-left: 25px
}

.toast-header {
  border-bottom: 0;
}

/* scroll */

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #ffbb5a;
  -webkit-box-shadow: inset 0 0 6px #ffe1ac; 
}
::-webkit-scrollbar-thumb:hover {
  background: #D9D2B0;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c2a87c;
  border-radius: 2px;
}

/* sidebar */

.sidebar {
  width: 50%;
  margin: 0%;
  padding: 2rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  background: #FFF8D8;
  z-index: 1;
  overflow-y: auto;
  box-shadow: -5px 0px 8px rgb(0 0 0 / 20%);
  transition: cubic-bezier(0.45, -0.67, 0.38, 1.6) 0.6s;
}

.sidebar-container {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
}

.title-sidebar {
  text-align: center;
  color: #584944;
}

.close-button {
  color: #584944;
  background-color: transparent;
  border: 0;
  outline: none;
}

.close-button span {
  padding: 10px;
  font-weight: 900;
}

.overlay-dark {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  transition: background .6s linear;
}

.open .overlay-dark {
  background-color: rgba(0, 0, 0, 0.411);
}

.open .sidebar {
  right: 0;
}

/* responsividade */

@media (max-width: 768px) {
  .body-default {
    align-items: baseline;
  }
  
  .inputs-container {
    flex-direction: column;
  }

  .menu-details {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: space-between;
  }

  .menu-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 275px;
    width: 682px;
    margin: 25px 0;
  }

  .section-details {
    margin-left: 30px;
    margin-top: 0;
  }
  
  .order-summary {
    width: 682px;
    min-height: 525px;
    justify-content: center;
    margin-top: 0;
  }

  .products-info {
    max-width: 682px;
    flex: 1;
  }

  header {
    padding: 10px 30px;
  }
}

@media (max-width: 375px) {

 .order-button-section, .total-price {
    margin-top: 30px;
  }

  .section-details {
    margin: 15px 0px 10px;
  }

  .send-button {
    min-width: 120px;
    max-width: 315px;
  }

  .form-input {
    max-width: 325px;
  }

  .sidebar {
    padding: 0;
    width: 375px;
  }

  .item-description, .list-items {
    min-width: 265px;
  }

  .order-button-section {
    max-width: 265px;
  }

  .client-info, .bottom-section {
    width: 260px;
    justify-content: center;
    align-items: center;
  }

  .menu-info {
    width: unset;
    justify-content: center;
    flex-direction: column;
  }

  .order-summary {
    width: 320px;
    padding: 30px;
    margin-bottom: 75px;
  }

  .logo img {
    display: none;
  }

  img {
    transform: scale(.75);
    margin: 10px 0;
  }

  header {
    padding: 30px;
    align-items: center;
    justify-content: center;
  }

  .button-text {
    display: none;
  }

  .burger-details {
    padding-right: 30px;
  }
}